extends ../layouts/main-layout.pug

block main-content
    main
        h1 Products
        if products.length > 0
             .products
                each product in products
                    .product
                        h4.product-title #{product.name}
                        p.description #{product.description}
                        p.price #{product.price}
                        a(href=`/products/${product._id}`, class="btn-link product-details") Details
                        if isLoggedIn
                            form.add-item-cart(action="/cart", method="POST")
                                button(type="submit", class="btn-link add-to-cart") Add To Cart
                                input(type="hidden", name="productId" value=`${product._id}`)
                                input(type="hidden" value=csrfToken name="_csrf")
        else
            .no-products No products!!